@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: #B2F3C4;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.userDataComponent{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;

}
.userDataContainer {
    background-color: white;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 4 10px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 100%;

}

.goalLabel{
    color: #000;
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 0.3rem;

    display: block;
}
.goalInput {
    width: 40%;
    padding: 0.5rem;
    margin-bottom: 0;
    border: 1px solid #46D371;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1rem;
}