<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <link href="static/style.css" rel="stylesheet" />
</head>
<body>
  <div class="errors">
    {% for _field, errors in form.errors.items() %}
      {% for error in errors %}
        <li>{{ error }}</li>
      {% endfor %}
    {% endfor %}
  </div>
  <div class="messages">
    {% for mesg in get_flashed_messages() %}
      <li>{{ mesg }}</li>
    {% endfor %}
  </div>
    <h1>Login</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>{{ form.email.label }} {{ form.email }}</p>
        <p>{{ form.password.label }} {{ form.password }}</p>
        <p>{{ form.submit }}</p>
    </form>
</body>
</html>
